In [31]:
import pandas as pd
import numpy as np
import ta
import matplotlib.pyplot as plt
%matplotlib inline

In [32]:
df = pd.read_excel('Nifty50_Data.xlsx',sheet_name='ICICIGI.NS')

In [33]:
df.tail()

,Date,High,Low,Open,Close,Volume,Adj Close
66,2021-12-31,1406.949951,1372.75,1373.849976,1401.250000,343301,1401.250000
67,2022-01-03,1431.300049,1398.25,1402.000000,1409.800049,295484,1409.800049
68,2022-01-04,1438.000000,1415.00,1417.000000,1423.599976,390918,1423.599976
69,2022-01-05,1456.199951,1425.50,1429.900024,1449.550049,344233,1449.550049
70,2022-01-06,1449.699951,1430.25,1430.250000,1449.000000,172634,1449.000000

In [34]:
Open=df["Open"]
High=df["High"]
Low=df["Low"]
Close=df["Close"]
Volume=df["Volume"]
A=[]

In [35]:
%run ./Check_Indicators.ipynb
Check_Indicators(Open,High,Low,Close,Volume,A)

Check BB

[0, 0, 'Volume No']

In [36]:
print(A)

[0, 0, 'Volume No']

In [37]:
Open=df.iloc[-1]["Open"]
High=df.iloc[-1]["High"]
Low=df.iloc[-1]["Low"]
Close=df.iloc[-1]["Close"]
print(A)

[0, 0, 'Volume No']

In [38]:
%run ./Check_SCP.ipynb
Check_SCP(Open,High,Low,Close,A)
print(A)

[0, 0, 'Volume No', 1, 0]

In [41]:
sum=0
multiplier=1
for i in A:
    if (isinstance(i,int)==1) :
        sum+=i
    if i=='Volume Yes' :
        multiplier*=2
    if i=='Volume No' :
        multiplier*=0.5
    if i=='Doji':
        multiplier*=2
sum=sum*multiplier
A.append(sum)
print(A)

[0, 0, 'Volume No', 1, 0, 0.5]

In [42]:
nifty_tickers=pd.read_csv('Nifty_yahoo_ticker.csv')

In [43]:
print(nifty_tickers)

    Unnamed: 0                                       Company Name  \
0            0                                           ACC Ltd.
1            1                             Adani Enterprises Ltd.
2            2                            Adani Green Energy Ltd.
3            3                            Adani Transmission Ltd.
4            4                                Ambuja Cements Ltd.
5            5                   Apollo Hospitals Enterprise Ltd.
6            6                              Aurobindo Pharma Ltd.
7            7                             Avenue Supermarts Ltd.
8            8                   Bajaj Holdings & Investment Ltd.
9            9                                  Bandhan Bank Ltd.
10          10                                     Bank of Baroda
11          11                           Berger Paints India Ltd.
12          12                                        Biocon Ltd.
13          13                                         Bosch Ltd.
14          14                             Cadila Healthcare Ltd.
15          15  Cholamandalam Investment and Finance Company Ltd.
16          16                     Colgate Palmolive (India) Ltd.
17          17                                           DLF Ltd.
18          18                                   Dabur India Ltd.
19          19                                  GAIL (India) Ltd.
20          20                                  Gland Pharma Ltd.
21          21                      Godrej Consumer Products Ltd.
22          22                 HDFC Asset Management Company Ltd.
23          23                                 Havells India Ltd.
24          24               Hindustan Petroleum Corporation Ltd.
25          25       ICICI Lombard General Insurance Company Ltd.
26          26       ICICI Prudential Life Insurance Company Ltd.
27          27                              Indraprastha Gas Ltd.
28          28                                  Indus Towers Ltd.
29          29                             Info Edge (India) Ltd.
30          30                           InterGlobe Aviation Ltd.
31          31                          Jindal Steel & Power Ltd.
32          32                            Jubilant Foodworks Ltd.
33          33                      Larsen & Toubro Infotech Ltd.
34          34                                         Lupin Ltd.
35          35                                        Marico Ltd.
36          36                               Muthoot Finance Ltd.
37          37                                          NMDC Ltd.
38          38                                 PI Industries Ltd.
39          39                           Pidilite Industries Ltd.
40          40                           Piramal Enterprises Ltd.
41          41        Procter & Gamble Hygiene & Health Care Ltd.
42          42                               Punjab National Bank
43          43                SBI Cards and Payment Services Ltd.
44          44                                       Siemens Ltd.
45          45                      Steel Authority of India Ltd.
46          46                       Torrent Pharmaceuticals Ltd.
47          47                                United Spirits Ltd.
48          48                                       Vedanta Ltd.
49          49                                      Yes Bank Ltd.

                    Industry      Symbol Series     ISIN Code   Yahoo_Symbol
0   CEMENT & CEMENT PRODUCTS         ACC     EQ  INE012A01025         ACC.NS
1                     METALS    ADANIENT     EQ  INE423A01024    ADANIENT.NS
2                      POWER  ADANIGREEN     EQ  INE364U01010  ADANIGREEN.NS
3                      POWER  ADANITRANS     BE  INE931S01010  ADANITRANS.NS
4   CEMENT & CEMENT PRODUCTS   AMBUJACEM     EQ  INE079A01024   AMBUJACEM.NS
5        HEALTHCARE SERVICES  APOLLOHOSP     EQ  INE437A01024  APOLLOHOSP.NS
6                     PHARMA  AUROPHARMA     EQ  INE406A01037  AUROPHARMA.NS
7          CONSUMER SERVICES       DMART     EQ  INE192R01011       DMART.NS
8         FINANCIAL SERVICES  BAJAJHLDNG     EQ  INE118A01012  BAJAJHLDNG.NS
9         FINANCIAL SERVICES  BANDHANBNK     EQ  INE545U01014  BANDHANBNK.NS
10        FINANCIAL SERVICES  BANKBARODA     EQ  INE028A01039  BANKBARODA.NS
11            CONSUMER GOODS  BERGEPAINT     EQ  INE463A01038  BERGEPAINT.NS
12                    PHARMA      BIOCON     EQ  INE376G01013      BIOCON.NS
13                AUTOMOBILE    BOSCHLTD     EQ  INE323A01026    BOSCHLTD.NS
14                    PHARMA    CADILAHC     EQ  INE010B01027    CADILAHC.NS
15        FINANCIAL SERVICES    CHOLAFIN     EQ  INE121A01024    CHOLAFIN.NS
16            CONSUMER GOODS      COLPAL     EQ  INE259A01022      COLPAL.NS
17              CONSTRUCTION         DLF     EQ  INE271C01023         DLF.NS
18            CONSUMER GOODS       DABUR     EQ  INE016A01026       DABUR.NS
19                 OIL & GAS        GAIL     EQ  INE129A01019        GAIL.NS
20                    PHARMA       GLAND     EQ  INE068V01023       GLAND.NS
21            CONSUMER GOODS    GODREJCP     EQ  INE102D01028    GODREJCP.NS
22        FINANCIAL SERVICES     HDFCAMC     EQ  INE127D01025     HDFCAMC.NS
23            CONSUMER GOODS     HAVELLS     EQ  INE176B01034     HAVELLS.NS
24                 OIL & GAS   HINDPETRO     EQ  INE094A01015   HINDPETRO.NS
25        FINANCIAL SERVICES     ICICIGI     EQ  INE765G01017     ICICIGI.NS
26        FINANCIAL SERVICES  ICICIPRULI     EQ  INE726G01019  ICICIPRULI.NS
27                 OIL & GAS         IGL     EQ  INE203G01027         IGL.NS
28                   TELECOM  INDUSTOWER     EQ  INE121J01017  INDUSTOWER.NS
29         CONSUMER SERVICES      NAUKRI     EQ  INE663F01024      NAUKRI.NS
30                  SERVICES      INDIGO     EQ  INE646L01027      INDIGO.NS
31                    METALS  JINDALSTEL     EQ  INE749A01030  JINDALSTEL.NS
32         CONSUMER SERVICES    JUBLFOOD     EQ  INE797F01012    JUBLFOOD.NS
33                        IT         LTI     EQ  INE214T01019         LTI.NS
34                    PHARMA       LUPIN     EQ  INE326A01037       LUPIN.NS
35            CONSUMER GOODS      MARICO     EQ  INE196A01026      MARICO.NS
36        FINANCIAL SERVICES  MUTHOOTFIN     EQ  INE414G01012  MUTHOOTFIN.NS
37                    METALS        NMDC     EQ  INE584A01023        NMDC.NS
38  FERTILISERS & PESTICIDES       PIIND     EQ  INE603J01030       PIIND.NS
39                 CHEMICALS  PIDILITIND     EQ  INE318A01026  PIDILITIND.NS
40        FINANCIAL SERVICES         PEL     EQ  INE140A01024         PEL.NS
41            CONSUMER GOODS        PGHH     EQ  INE179A01014        PGHH.NS
42        FINANCIAL SERVICES         PNB     EQ  INE160A01022         PNB.NS
43        FINANCIAL SERVICES     SBICARD     EQ  INE018E01016     SBICARD.NS
44  INDUSTRIAL MANUFACTURING     SIEMENS     EQ  INE003A01024     SIEMENS.NS
45                    METALS        SAIL     EQ  INE114A01011        SAIL.NS
46                    PHARMA  TORNTPHARM     EQ  INE685A01028  TORNTPHARM.NS
47            CONSUMER GOODS  MCDOWELL-N     EQ  INE854D01024  MCDOWELL-N.NS
48                    METALS        VEDL     EQ  INE205A01025        VEDL.NS
49        FINANCIAL SERVICES     YESBANK     EQ  INE528G01035     YESBANK.NS

In [45]:
dF=pd.DataFrame([],columns=["a","b","c"])

<bound method NDFrame.head of Empty DataFrame
Columns: [a, b, c]
Index: []>